datadir="/var/lib/proxysql"

admin_variables=
{
	admin_credentials="admin:admin;radmin:radmin"
	mysql_ifaces="0.0.0.0:6032"
}

mysql_variables=
{
	threads=2
	max_connections=2048
	default_charset="utf8"
	default_query_delay=0
	default_query_timeout=36000000
	have_compress=true
	poll_timeout=2000
	interfaces="0.0.0.0:6033"
	verbose_query_error=true
	default_schema="information_schema"
	stacksize=1048576
	server_version="5.5.30"
	connect_timeout_server=3000
	connect_timeout_server_max=5000
	monitor_username="monitor"
	monitor_password="monitor"
	monitor_history=600000
	monitor_connect_timeout=15000
	monitor_connect_interval=60000
	monitor_ping_interval=10000
	monitor_ping_timeout=5000
	monitor_read_only_interval=1500
	monitor_read_only_timeout=500
	monitor_read_only_max_timeout_count=10
	ping_interval_server_msec=120000
	ping_timeout_server=1000
	commands_stats=true
	sessions_sort=true
	connect_retries_on_failure=10
}

# defines all the MySQL servers
mysql_servers =
(
	{ address="mysqlmaster" , port=3306 , hostgroup=50, max_replication_lag=5 },
	{ address="mysqlslave1" , port=3306 , hostgroup=51, max_replication_lag=5 },
	{ address="mysqlslave2" , port=3306 , hostgroup=51, max_replication_lag=5 }
)

# defines replication hostgroups - check_type="innodb_read_only" for AWS aurora
mysql_replication_hostgroups=
(
        {
                writer_hostgroup=50
                reader_hostgroup=51
                check_type="read_only"
                comment="mysql dbs"
       }
)

# defines all the MySQL users
mysql_users:
(
	{ username="root",password="root",active=1,default_hostgroup=50 }
)


#defines MySQL Query Rules - basic read/write split
mysql_query_rules:
(
	{
		rule_id=150
		active=1
		match_digest="^SELECT"
		destination_hostgroup=51
		apply=1
		comment="Redirect all the SELECT queries to the READ hostgroup"
	},
	{
		rule_id=151
		active=1
		match_digest=".*"
		destination_hostgroup=50
		apply=1
		comment="redirect all other queries to the WRITE hostgroup"
	}
)
